@keyframes start {
  0% {
    color: rgba(250, 17, 28, 0);
  }

  50% {
    color: rgba(250, 17, 28, 1);
  }

  100% {
    color: rgba(250, 17, 28, 0);
  }
}
@keyframes snakeBlink {
  1% {
    background: rgba(175, 245, 224, 1);
    box-shadow: 1.5px 1.5px rgba(120, 176, 153, 1);
  }
  20% {
    background: rgba(48, 69, 59, 1);
    box-shadow: 1.5px 1.5px rgba(120, 176, 153, 0);
  }
  100% {
    background: rgba(48, 69, 59, 1);
    box-shadow: 1.5px 1.5px rgba(120, 176, 153, 0);
  }
}
@keyframes foodpulse {
  1% {
    transform: scale(1.6, 1.6);
  }
  50% {
    transform: scale(2.1, 2.1);
  }
  100% {
    transform: scale(1.6, 1.6);
  }
}
@keyframes startHover {
  0% {
    color: rgba(24, 35, 15, 0);
  }

  50% {
    color: rgba(24, 35, 15, 1);
  }

  100% {
    color: rgba(24, 35, 15, 0);
  }
}
@keyframes gameoverhover {
  0% {
    color: rgba(123, 219, 211, 0.2);
  }

  50% {
    color: rgba(123, 219, 211, 1);
  }

  100% {
    color: rgba(123, 219, 211, 0.2);
  }
}
@keyframes fade {
  0% {
    opacity: 1;
    z-index: 150;
  }

  50% {
    opacity: 0.5;
    z-index: 150;
  }
  99% {
    opacity: 0;
    z-index: 150;
  }
  100% {
    opacity: 0;
    z-index: -100;
  }
}
@keyframes fadedelay {
  0% {
    opacity: 1;
    z-index: 150;
  }

  50% {
    opacity: 1;
    z-index: 150;
  }
  75% {
    opacity: 0.5;
    z-index: 150;
  }
  99% {
    opacity: 0;
    z-index: 150;
  }
  100% {
    opacity: 0;
    z-index: -200;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes snake {
  0% {
    font-size: 30em;
    position: absolute;
    text-shadow: 15px 15px rgba(0, 0, 0, 0.2);
  }
  20% {
    font-size: 30em;
    position: absolute;
    text-shadow: 15px 15px rgba(0, 0, 0, 0.2);
  }
  50% {
    font-size: 30em;
    transform: translateX(-3900px);
    position: absolute;
    opacity: 1;
    text-shadow: 15px 15px rgba(0, 0, 0, 0.2);
  }
  70% {
    position: absolute;
    top: 10%;
    opacity: 0;
  }
  80% {
    position: absolute;
    font-size: 60pt;
    opacity: 1;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.2);
  }
  90% {
    position: absolute;
    opacity: 1;
  }
  100% {
    position: absolute;
    right: 30%;
    opacity: 1;
  }
}
@keyframes thegame {
  0% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes gameover {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: mobileFont;
  src: url("fonts/MobileFont.ttf");
}
@font-face {
  font-family: ShinobiChildSolid;
  src: url("fonts/Shinobi Child Solid.ttf");
}
@font-face {
  font-family: TacticalEspionageAction;
  src: url("fonts/Tactical Espionage Action.ttf");
}
@font-face {
  font-family: MetalGear;
  src: url("fonts/METAG.TTF");
}
.startDiv {
  position: fixed;
  background-color: rgba(10, 10, 10, 1);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  align-items: center;
  text-align: center;
}
.startDiv div {
  position: absolute;
  top: 42vh;
  height: 200px;
  width: 100%;
  z-index: 100;
}
#startButton {
  font-family: mobileFont;
  color: rgba(202, 32, 22, 1);
  font-size: 17pt;
  word-spacing: 15px;
  animation: start 2s 0.5s infinite ease-in-out;
  height: 50px;
  padding-top: 30px;
  cursor: pointer;
  transition: 0.35s;
  background-color: rgba(60, 60, 60, 0.3);
  width: 50%;
  left: 25%;
  transform: scaleY(0.75);
}
#startButton:hover {
  transition: 0.5s;
  background-color: rgb(91, 146, 115);
  text-shadow: 3px 3px rgba(0, 0, 0, 0.2);
  border: 3px solid rgba(0, 0, 0, 0.2);
  animation: startHover 2s 0.5s infinite ease-in-out;
}
#title {
  font-family: mobileFont;
  color: rgba(48, 69, 59, 1);
  text-shadow: 2px 2px rgba(18, 39, 29, 1);
  font-size: 40pt;
  border-top: none;
  border-bottom: none;
  background-color: rgba(16, 29, 22, 0.8);
  padding: 20px 80px 20px 80px;
  margin-bottom: 33px;
}
h2 {
  font-family: MetalGear;
  color: rgba(175, 245, 224, 1);
  letter-spacing: 2px;
  font-size: 70pt;
  text-shadow: 3px 3px rgba(120, 176, 153, 1);
  line-height: 300px;
  animation: snake 4s 0s ease-in-out;
  animation-iteration-count: 1;
  margin-bottom: 0;
  height: 195px;
}
#tact {
  position: absolute;
  top: 180px;
  font-family: TacticalEspionageAction;
  color: rgba(175, 245, 224, 1);
  letter-spacing: 2px;
  font-size: 17pt;
  animation: thegame 4.5s 0s infinite ease-out;
  animation-iteration-count: 1;
}
#solid {
  position: relative;
  top: 0;
  font-family: TacticalEspionageAction;
  color: rgba(8, 8, 8, 1);
  background-color: rgba(175, 245, 224, 1);
  letter-spacing: 2px;
  font-size: 17pt;
  animation: thegame 4.5s 0s infinite ease-out;
  animation-iteration-count: 1;
  height: 0px;
  width: 531px;
  border-bottom: solid 24px rgba(175, 245, 224, 1);
  border-right: solid 13px;
  margin-left: auto;
  margin-right: auto;
  left: 1%;
}
h3 {
  font-family: mobileFont;
  color: rgba(255, 255, 255, 0.35);
  font-size: 10pt;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  line-height: 520px;
  animation: thegame 4.5s 0s infinite ease-out;
  animation-iteration-count: 1;
}
h4 {
  font-family: ShinobiChildSolid;
  color: rgba(175, 245, 224, 1);
  font-size: 25pt;
  text-shadow: 2px 2px rgba(120, 176, 153, 1);
  background-color: rgba(16, 29, 22, 0.8);
  position: relative;
  width: 250px;
  padding: 9px 0;
  left: 30%;
}
body {
  max-width: 1200px;
  height: 80vh;
  margin: auto;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(8, 8, 8);
  overflow: hidden;
}
main {
  background-color: rgba(16, 29, 22, 1);
  height: 394px;
  width: 700px;
  align-items: center;
  padding: 5px;
  text-align: center;
  z-index: 1;
}

.cell {
  height: 10px;
  width: 10px;
  background-color: rgba(48, 69, 59, 1);
  border: 1px solid rgba(0, 0, 0, 0.03);
  padding: 2px;
  z-index: 1;
}
.snake {
  height: 10px;
  width: 10px;
  background: rgba(175, 245, 224, 1);
  padding: 2px;
  box-shadow: 1.5px 1.5px rgba(120, 176, 153, 1);
  z-index: 2;
}
.blink {
  animation: snakeBlink 0.8s 0s infinite linear;
}
.food {
  background: rgba(48, 69, 59, 0);
  border: none;
  height: 10px;
  width: 10px;
  background-image: url("images/knowledge.png");
  background-size: cover;
  background-position: center;
  padding: 3px;
  z-index: 2;
  animation: foodpulse 1s 0s infinite linear;
}
.grid {
  display: flex;
  flex-direction: column;
  height: 394px;
  width: 700px;
  padding: 1px;
  z-index: 1;
  vertical-align: middle;
}

.row {
  display: flex;
  justify-content: center;
}
.gameover {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgb(8, 8, 8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
}

#continue {
  display: none;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  max-height: 100vh;
  width: 100%;
  object-fit: cover;
  color: white;
  z-index: 10001;
  background-position: center;
  background-size: cover;
  align-items: center;
  text-align: center;
  transform: translateY(-50%);
}
.continuenav {
  opacity: 0;
  max-height: 100vh;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  word-spacing: 16vw;
  background-color: red;
  height: 0;
  text-align: center;
  z-index: -99;
  display: inline-block;
}
.continuenav ul li {
  display: inline-block;
  transform: scale(1, 1.7);
  letter-spacing: 0.5vw;
  line-height: 60%;
}
.continuenav li:nth-child(2) {
  letter-spacing: 3vw;
}
.continuenav a {
  font-family: TacticalEspionageAction;
  text-decoration: none;
  font-size: 1.8vw;
  color: rgb(70, 152, 117);
  transition: 1.5s;
  line-height: 4.507em;
}
.continuenav a:hover {
  animation: gameoverhover 1.5s infinite linear;
  cursor: pointer;
}
.gameoverback {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(8, 8, 8);
  height: 100vh;
  width: 100vw;
  z-index: -99;
}

ul {
  margin: 0;
  padding: 0;
}

#paused {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  z-index: 0;
  height: 404px;
  width: 710px;
  top: 23.6vh;
  line-height: 21;
  font-size: 15pt;
  color: rgba(175, 245, 224, 1);
  transition: 0.4s;
  opacity: 0;
}

#keys {
  position: relative;
  float: right;
  top: -126px;
  padding: 10px;
  font-family: mobileFont;
  color: rgba(48, 69, 59, 1);
  line-height: 21px;
  list-style: none;
  right: 31px;
  text-align: center;
  background-color: rgba(16, 29, 22, 0.8);
  width: 120px;
  height: 120px;
  text-shadow: 2px 2px rgba(18, 39, 29, 1);
}

#keys span {
  font-weight: bold;
}
